<!-- templates/group_list.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Группы файлов</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'textfiles/styles.css' %}">
</head>
<body>
    <div class="container">
        <a href="{% url 'about' %}"><button  class="custom-button">Обо мне</button></a>
        <h1>Группы файлов</h1>
        <ul>
            {% for group in groups %}
                <li>
                    <a href="{% url 'file_list' group.id %}"><button class="custom-button">{{ group.name }}</button></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>