<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Список файлов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'textfiles/styles.css' %}">
    <link rel="icon" type="image/png" href="/media/image/icon.png">
</head>
<body>
    <h1>Список файлов</h1>
    <ul  class="file-list">
        {% for file in files %}
            <li class="file-item">
                {% comment %} <h2>{{ file.title }}</h2> {% endcomment %}
                <a href="{% url 'file_detail' file.file_id %}"><button class="custom-button">{{ file.title }}</button></a>
                <p></p>
                {% comment %} <div>   </div> {% endcomment %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>